 html { 
 	
 }

body { 	
	height: 100%; 
	margin: 0;
	padding: 0 
}

#names {
	width: 16%;
	margin-right: 1%;
	margin-top: 1%;
	height: 91%;
	float: left;
	border-color: ;
	border: solid rgb(42, 145, 165);
	padding: 1%;
	background-color: rgb(42, 145, 165);
	font-size: 1.2em;
}
 

 #map-canvas {
 	margin-top: 1%;
 	width:80%;
 	height: 95% ;
 	float:left;

 }

 #hold {
 	
 	width:80%;
 	height:84%;
 	margin-left: auto;
 	margin-right: auto; 

 }

