@import url(http://fonts.googleapis.com/css?family=Germania+One);
@import url(http://fonts.googleapis.com/css?family=Oldenburg);

html {
    height: 100%;
}
body{
    margin-top: 0px;
    background-image: url("../img/backgroundimage.png");
    height: 100%;
}
header {
    width: 1005px;
    height: 16%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(42, 145, 165);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);

}
#main{
    width: 1005px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(253, 253, 236);
    height: 84%;

}

h1 { 
    font-family: 'Germania One', cursive;
    float: left;
    margin-left: 40px;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 0px;
    color: rgb(95, 54, 39);
}

h2, h3, h4,  button{
    font-family: 'Oldenburg', cursive;
}

.selectedImage {
    border-style: solid;
    border-width: 2px;
}

#orderMenu h4{
    margin: 0px;
    text-align: center;
}

#orderMenu h5{
    margin: 0px;
    margin-left: 2px;
}

.tacoDetails h5{
    margin:0px 0px 0px 2px;
}

#currentTaco {
    border-style: solid;
}

#orderMenu #menuButtons h4{
    text-align: left;
}

#orderMenu #menuButtons button{
    float:right;

}

.tortillaOption , .fillingOption{
    width: 80px;
    margin: 2px 25px;
    display: inline-block;
}

header img {
    float: left;
    margin-left: 15px;
    margin-top: 2px;
    height: 100px;

}

.rightHeader {
    float: right;      
    margin-right: 20px;
}

#signIn{
    display: block;
    margin-top: 4%;
}

#signedIn{
    display: none;
    margin-top: 2%;
    margin-bottom: 0px;
}

#signedIn h2{
    margin-bottom: 0px;
}

hr {
    clear: both;
    margin: 0px;
}

#orders {
    width:32%;
    float:left;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(95, 54, 39);
    margin: 20px;
    height: 92%;
    background-color: rgba(95, 54, 39, 0.45);

}

#orders h2 {
    margin: 10px;
    margin-left: 15px;
}

#orders h3 {
    margin-left: 5px;
    margin-bottom: 0px;
}

#addedOrders {
    height: 66%;
    overflow-y:auto;
}

#orderMenu {
    width:55%;
    float: left;
    margin: 15px 40px 0px 40px;
}

#orderMenu h2{
    margin: 0px;
}


.ui-accordion-header {
    border-style: solid;
    border-width: 2px;
    border-color: green;
    border-radius: 2px;
    text-align: center;
}

.ui-accordion-content {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 2px;
}

#accordion h3 {
    margin: 5px 0px 0px 0px;
}

#orderButtons button {
    width: 98%;
    height: 30px;
    margin: 4px;
    font-size: 20px;
}

#menuButtons button {
    height: 30px;
    margin: 4px; 
    font-size: 20px;
}

.quantity {
    width: 40px;
}

#orderMenu .cheeseOption, .riceOption, .beansOption, .veggieOption, .sauceOption, .extrasOption{
    display: inline-block;
    width: 32%;
}

#orderMenu .sauceOption img{
    float:right;
}

.tacoDetails{
    display: none;
    background-color: rgb(42, 145, 165);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.48);
    position: absolute;
    margin-left: 230px;
    width: 20%;
    margin-top: -25px;
}

.order:hover .tacoDetails{
    display: block;
}

.itemList {
    width: 115px;
}