@import url(http://fonts.googleapis.com/css?family=Germania+One);
@import url(http://fonts.googleapis.com/css?family=Oldenburg);

html {
    height: 100%;
}
body{
    margin-top: 0px;
    background-image: url("../img/backgroundimage.png");
    height: 100%;
}
header {
    width: 1005px;
    height: 16%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 233, 176);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);

}
#main{
    width: 1005px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(254, 255, 228);
    height: 84%;

}

h1 { 
    font-family: 'Germania One', cursive;
    float: left;
    margin-left: 40px;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 0px;
    color: rgb(95, 54, 39);
}

h2, h3, h4,  button{
    font-family: 'Oldenburg', cursive;
}

.selectedImage {
    border-style: solid;
    border-width: 2px;
}

#orderMenu h4{
    margin: 0px;
    text-align: center;
}

.tortillaOption , .fillingOption{
    width: 80px;
    margin: 2px 25px;
    display: inline-block;
}

header img {
    float: left;
    margin-left: 15px;
    margin-top: 2px;
    height: 100px;

}

.rightHeader {
    float: right;      
    margin-right: 20px;
}

#signIn{
    display: block;
    margin-top: 4%;
}

#signedIn{
    display: none;
    margin-top: 2%;
    margin-bottom: 0px;
}

#signedIn h2{
    margin-bottom: 0px;
}

hr {
    clear: both;
    margin: 0px;
}

#orders {
    width:32%;
    float:left;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(95, 54, 39);
    margin: 20px;
    height: 92%;
    background-color: rgba(95, 54, 39, 0.45);

}

#orders h2,h3 {
    margin-left: 15px;
}

#orders h3 {
    margin-bottom: 0px;
}

#addedOrders {
    height: 62%;
}

#orderMenu {
    width:55%;
    float: left;
    margin: 0px 40px;
}

.ui-accordion-header {
    border-style: solid;
    border-width: 2px;
    border-color: green;
    border-radius: 2px;
    text-align: center;
}

.ui-accordion-content {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 2px;
}

#accordion h3 {
    margin: 5px 0px 0px 0px;
}

#orderButtons button {
    width: 98%;
    height: 30px;
    margin: 4px;
    font-size: 20px;
}

#menuButtons button {
    height: 30px;
    margin: 4px; 
    font-size: 20px;
}

.quantity {
    width: 80px;
}